/* Use For Heading */
@import url(http://fonts.googleapis.com/css?family=Metrophobic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {margin:0px; padding:0px}
html, body {height:100%}

body {font-family:'Open Sans', Helvetica, Arial, sans-serif; line-height: 22px;color: #666;-webkit-font-smoothing: antialiased; background:#ffffff}

img {max-width:100%}

h1 {font-family: 'Metrophobic', sans-serif; font-size:32px; color:#d9534f}
h2 {font-family: 'Metrophobic', sans-serif; font-size:30px; color:#2f982f}
h3 {font-family: 'Metrophobic', sans-serif; font-size:28px}
h4 {font-family: 'Metrophobic', sans-serif; font-size:26px}
h5 {font-family: 'Metrophobic', sans-serif; font-size:24px; color:#699500}
h6 {font-family: 'Metrophobic', sans-serif; font-size:22px}

/*
========================== GLOBAL ==========================
*/

.wrapper {min-height:100%; height:auto !important; height:100%; margin:0 auto -43px auto}
.web_page_body {background:#ffffff url(../images/body_bg2.png) repeat 0 0; border-top:1px solid #ececec}

.left-right-container {width:100%; border-top:1px solid #ececec}

.divider {background:url(../images/border-bg.gif) repeat-y 249px 0}

.box-cont {border:1px solid #e2e2e2; margin-bottom:15px}
.box-cont .box-inner {padding:15px}
.box-cont .title {font-size:18px; padding:8px 15px; margin:0 auto; background:#0993d3 url(../images/h1_bg.gif) repeat-x 0 0; border-bottom: 1px solid #167cac; border-top: 1px solid #2094ca; box-shadow: none; color: #fff; font-weight: normal;}
.box-cont .title input {border:none; background:none !important}

.ca-menu{
    padding:0;
    margin:20px auto;
}
.ca-menu li{
    width: 180px;
    height: 180px;
    border: 10px solid #f6f6f6;
    overflow: hidden;
    position: relative;
    float:left;
    background: #fff;
    margin: 5px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-menu li:last-child{
    margin-right: 0px;
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;

}
.ca-icon{
    font-size: 40px;
    color: #f6f6f6;;
    line-height: 60px;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 30px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-main{
    font-size: 16px;
    position: absolute;
    top: 90px;
    height: 80px;
    width: 170px;
    left: 50%;
    margin-left: -85px;
    opacity: 0.8;
    text-align: center;
}
.ca-menu li:hover{
    background: #f7f7f7;
    border-color: #fff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.ca-menu li:hover .ca-icon{
    color: #555;
    font-size: 60px;
}
.ca-menu li:hover .ca-main{

}

.dropdown-menu li.dr-pick {text-align:center; padding:20px 0}
.nav-pro li.dropdown {height:50px !important; line-height:50px !important; padding:0 5px !important}
.nav-pro li.dropdown ul.dropdown-menu li {border:none}

.dashboard-body {padding-top:92px}

table.search-multy {width:100%;}
table.search-multy td {padding:5px}

.my-form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: auto;
    padding: 2px 2px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: auto;
}
.my-Assessment-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 9px;
    height: auto;
    padding: 2px 2px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 45px;
}

/*
TOP SECTION ---------------------------------------------------------------------
---------------------------------------------------------------------------------*/
.top-welcome-row {border-bottom:1px solid #ffffff; padding:10px 15px; color:#266ba2;
background: #ebebeb; /* Old browsers */
background: -moz-linear-gradient(top, #fbfbfb 0%, #ebebeb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fbfbfb 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fbfbfb 0%,#ebebeb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fbfbfb 0%,#ebebeb 100%); /* IE10+ */
background: linear-gradient(to bottom, #fbfbfb 0%,#ebebeb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}

.header {background:#fafafa; border-top:1px solid #ececec; border-bottom:1px solid #e3e3e3; padding:18px 15px}

.navbar .navbar-brand {color:#428bca}
.navbar .navbar-brand {float: left; font-size: 18px; height: 50px; padding: 0px 15px;}
.navbar .navbar-brand img {max-width:100%}

.navbar-pro {border-bottom:1px solid #ffffff; height:51px; padding:0;
background: #ebebeb; /* Old browsers */
background: -moz-linear-gradient(top, #fbfbfb 0%, #ebebeb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fbfbfb 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fbfbfb 0%,#ebebeb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fbfbfb 0%,#ebebeb 100%); /* IE10+ */
background: linear-gradient(to bottom, #fbfbfb 0%,#ebebeb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}

.navbar .nav-pro {border-left:1px solid #dbdbdb}
.navbar .nav-pro li {border-right:1px solid #dbdbdb}
.navbar .nav-pro li a {color:#503b3d}
.navbar .nav-pro li a:hover, .navbar .nav-pro li a.active {background:#428bca; color:#ffffff}

.nav-pro-main-cont {position:absolute; top:51px; left:0; width:100%; background:#f7f7f7; border-top:1px solid #ececec}
.navbar .nav-pro-main {}
.navbar .nav-pro-main li {}
.navbar .nav-pro-main li a {color:#503b3d; padding:0px 15px; line-height:40px}
.navbar .nav-pro-main li a:hover, .navbar .nav-pro-main li a.active {background:#428bca; color:#ffffff}

/*
Form Signin ----------------------------------------------------------
---------------------------------------------------------------------*/
.form-signin-cont {background: #f8f9fa url('../images/wild-sea.png') repeat 0 0; border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; padding: 3em 0; /* 30/16 */ margin:80px  auto 0 auto; border-top:1px solid #54a3e4; border-bottom:1px solid #54a3e4}
.form-signin {max-width: 460px;padding: 19px 29px 29px;margin: 0 auto;background-color: #fff;border: 1px solid #e5e5e5;
-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
		border-radius: 5px;
-webkit-box-shadow: 0 0 5px #e2e2e2;
   -moz-box-shadow: 0 0 5px #e2e2e2;
		box-shadow: 0 0 5px #e2e2e2;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {margin-bottom: 10px;}
.form-signin input[type="text"],
.form-signin input[type="password"] {font-size: 16px; height: auto; margin-bottom: 15px; padding: 7px 9px;}
.form-signin label {display:block; text-transform:uppercase; color:#2a2e36; margin:0 0 0.3125em 0;font-weight:normal;
}

/*
LEFTNAV ---------------------------------------------------------------------
---------------------------------------------------------------------------------*/
.leftnav {border-right:1px solid #e2e2e2; width:250px; background:#fcfcfc; float:left}

	.leftnav h1, .rightnav h1 {font-size:18px; padding:9px 15px; margin:0 auto; background:#0993d3 url(../images/h1_bg.gif) repeat-x 0 0; border-bottom: 1px solid #167cac; border-top: 1px solid #2094ca; box-shadow: none; color: #fff; font-weight: normal;}
	
.leftnav .avatar-cont {width:142px; border:1px solid #d6d6d6; padding:10px; background:#ffffff; margin:15px auto}

.leftnav .search-cont {border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; padding:10px 15px}
.leftnav .search-cont .form-control {width:80%; float:left;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-o-border-radius: 0px;
border-radius: 0px;
}
.leftnav .search-cont .btn {width:20%;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-o-border-radius: 0px;
border-radius: 0px;
}

.leftnav .nav-pills > li {border-bottom:1px solid #dddddd}
.leftnav .nav-pills > li + li {margin-top: 0px}
.leftnav .nav-pills > li > a {border-radius: 0px; padding:8px 15px}
.leftnav .nav-pills > li > a:hover {background:#428bca; color:#ffffff}
.leftnav .nav-pills > li > a > span.badge {background:#5cb85c}

/*
RIGHTNAV ---------------------------------------------------------------------
---------------------------------------------------------------------------------*/
.rightnav {padding-left:251px}
.rightnav .right-body {padding-top:15px}

.rightnav .hospital-list {margin-bottom:15px}
.rightnav .hospital-list .form-control {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-o-border-radius: 0px;
border-radius: 0px;
}

.search-patient-panel {margin-bottom:5px}
.search-patient-panel .btns {margin-bottom:15px}
.search-patient-panel .search {margin-bottom:5px}

.patient-info {border:1px solid #e2e2e2; margin:0 15px 15px 15px; background:#f9f9f9; padding:15px 0px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
}

.patient-info .patient-name {color:#e43134; font-size:18px}

.dataTables_paginate .pagination {margin:0px}

/*
RIGHT-MIDNAV ---------------------------------------------------------------------
---------------------------------------------------------------------------------*/
.right-midnav {padding-right:0px}

/*
Footer --------------------------------------------------------------------------
---------------------------------------------------------------------------------*/
.footer_cont, .push {height:43px}

footer {padding:0px 0px; color: #777; font-size: 12px; background-color: #f8f8f8; border-top: 3px solid #ddd; min-height:30px; padding-top:8px}

/*
========================== MEDIA QUERY ==========================
*/

@media(max-width:767px){
	.navbar .collapse-pro {background:#f8f8f8; border-bottom:2px solid #dfdfdf}
	.navbar .nav-pro {border-left:none}
	.navbar .nav-pro li {border-right:none}
	.navbar-pro {padding:0;}
	.divider {background-image:none}
	.leftnav {float:none; border:none; width:100%}
	.rightnav {float:none; width:100%; padding:0px}
	.ca-menu li{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		-webkit-transition: all 400ms linear;
		-moz-transition: all 400ms linear;
		-o-transition: all 400ms linear;
		-ms-transition: all 400ms linear;
		transition: all 400ms linear;
	}
	.search-patient-panel .text-right {text-align:left}
	.search-patient-panel .form-control {float:left; margin-right:4px}
	.nav-pro-main-cont {position:relative; top:0; left:0; width:100%; background:#f7f7f7; border-top:1px solid #ececec}
	.dashboard-body {padding-top:35px}

}
@media (min-width:768px){
}
@media (min-width:992px){
}
@media (max-width:992px){
	.right-midnav {padding-right:15px}
}

@media (min-width:1200px){
}


.nomargin {
    padding:0px !important;
    margin:0px !important;
}