﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CompanyHome.aspx.cs" MasterPageFile="~/Company/Company.Master" Inherits="HealToZeal.Company.CompanyDashBoard" %>

<asp:Content ID="Content2" ContentPlaceHolderID="LeftColumn" runat="Server">
    <div class="container nomargin">
        <div class="row nomargin">
            <div class="col-lg-12 col-md-12 col-sm-12 nomargin">
                <h4></h4>
                <div class="row hs_how_we_are nomargin">
                    <div class=" col-lg-3 col-md-3 nomargin"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 nomargin" >
                 <%--       <img src="../images/Let Me Talk2 Me Poster.jpg" />--%>
                        <div style="align-content:center;">
                        <img src="../images/letmetalk2m2new.jpg" class="img-responsive" style="height:399px; width:476px;"    />
                       <%-- height="350px" width="400px"--%>
                            </div>
                    </div>
                      <div class="col-lg-3 col-md-3 nomargin"></div>
                </div>
            </div>
        </div>
    </div>
</asp:Content>
