﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Companyedu.master.cs" Inherits="HealToZeal.Company.Companyedu" %>

<%@ Register Src="~/UserControl/LoginUserCntrl.ascx" TagName="LoginCntrl" TagPrefix="LoginUserCntrl" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Health Care, health" />
    <meta name="description" content="Health Care HTML Template" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon links -->
    <link rel="shortcut icon" type="image/ico" href="../favicon.ico" />
    <link rel="icon" type="image/ico" href="../favicon.ico" />
    <!--Google web fonts-->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css' />
    <!-- main css -->
    <link rel="stylesheet" href="../css/main.css" media="screen" />
    <%--<link rel="stylesheet" id="theme-color" type="text/css" href="#"/>--%>
    <!--page title-->
    <title>LetMeTalk2me</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<!--
**********************************************************************************************************
    Copyright (c) 2014 Himanshu Softtech.
********************************************************************************************************** -->
<body>
    <form id="form2" runat="server" style="height: 100%">
        <!--Pre loader start-->
        <div id="preloader">
            <div id="status">
                <img src="../images/loader.gif" id="preloader_image" width="36" height="36" alt="loading image" />
            </div>
        </div>
        <!--pre loader end-->
        <!-- color picker start -->

        <!-- color picker end -->
        <!--header start-->
        <header id="hs_header">
            <%--<div class="container">--%>
            <div class="">
               <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 clearfix ">
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <div id="hs_logo">
                                <%--<a href="#">
                                <img src="../images/logo.png" alt="" />
                            </a>--%>
                                 <%--<a><img src="../images/logo1.png"  />   
                             </a>--%>
                                 <a href="http://www.letmetalk2.me/"><img alt="letmetalktome" src="../images/logo1.png"/></a>
                                <%-- <a><img src="../images/logo1.png"  />   
                                     </a>--%>
                              <a style="font-family:  Calibri;color:white; font-size:large; font-weight:bold;  text-transform:uppercase"> LetMeTalk2Me
                             </a>
                            </div>
                            <!-- #logo -->
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <button type="button" class="hs_nav_toggle navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu<i class="fa fa-bars"></i></button>
                            <%--<nav>--%>
                                <ul class="hs_menu collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <li><a class="active" href="CompanyHome.aspx">Home</a>                                       
                                    </li>
                                    <li id="EmpPsychographics" runat="server"><a class="active" href="ViewEmployee.aspx">Employees</a>
                                        <ul>
                                            <li><a href="ViewEmployee.aspx">Search </a></li>
                                            <li><a href="AddEmployee.aspx">Add</a></li>
                                            <li><a href="ImportEmployees1.aspx">Import Employees</a></li>
                                        </ul>
                                    </li>                                 
                                    <li id="Li1Batch" runat="server"><a class="active">Batch</a>
                                        <ul>
                                            <li><a href="AddBatch.aspx">Add </a></li>
                                            
                                        </ul>
                                    </li>  
                                     <li id="SummaryPsychographics" runat="server" ><a class="active" >Mindfulness overview</a>   <%--  Comment removed by meenakshi on 13.12.18--%>
                                     <ul>
                                       <%--  <li visible="false"> <a href="AssessmentResults.aspx">Mindfullness overview of  Students</a></li>--%>
                                              <li><a href="Piecharts.aspx">Mindfullness overview of  employees</a></li>
                                           <%--  <li visible="false"><a href="Charts1.aspx">Summary of Students </a></li>--%>
                                         <li><a href="Charts2.aspx">Summary of Employees </a></li>
                                         </ul>
                                         </li>
                                 <%-- <li id="LiCadre" runat="server"><a class="active" href="EmployeeResultNew.aspx">Cadre</a></li>--%>
                                    
                                    <%-- <li id="Li2" runat="server" ><a class="active">Mindfullness overview</a>
                                         <ul>
                                              <li><a href="Piecharts.aspx">Mindfullness overview of  employees</a></li>
                                              <li><a href="Charts1.aspx">Summary of Students </a></li>
                                         </ul>
                                     </li>--%>

                                    <li id="Li1" runat="server" visible="false"><a class="active" href="ViewEmployee.aspx">IIT Employees</a>
                                        <ul visible="false">
                                           <li><a href="ImportEmployee.aspx">Import Student </a></li>
                                            <li><a href="EmployeeResultNew.aspx">view Result </a></li>
                                            <li><a href="AddEmployee.aspx">Add</a></li>
                                            <li><a href="ImportEmployeesdata .aspx">Import Student Data</a></li>
                                    <li><a href="GetCountResult.aspx">Import Employee ClusterWise Data</a></li>
                                        </ul>
                                    </li>                                        
                                   <%-- <li><a href="#">About us</a>
                                    <ul>
                                            <li><a href="AboutUs.aspx">About us </a></li>
                                            <li><a href="OurTeam.aspx">Team</a></li>
                                        </ul>
                                        </li>--%>
                                   <%-- <li><a href="ContactUs.aspx">Contact</a></li>--%>
                                   <%-- <li><a href="RssFeeds.aspx">Rss Feeds</a></li>--%>
                                </ul>
                           <%-- </nav>--%>
                        </div>
                          <%--<div class="col-lg-2 col-md-2 col-sm-4">
                          <div class="hs_social">
                                 <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" id="hs_search"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>--%>
                           <%-- <div class="hs_search_box">                                
                                <div class="form-group has-success has-feedback">
                                    <input type="text" class="form-control" id="inputSuccess4" placeholder="Search">
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                                
                            </div>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <%--   <div class="navbar-collapse collapse collapse-pro">
                        <ul class="nav navbar-nav nav-pro navbar-right">
                            <LoginUserCntrl:LoginCntrl ID="Login" runat="server" />
                        </ul>
                       
                    </div>
                            <!-- #logo -->
                        </div>--%>
                    </div>
                    <!-- .col-md-12 -->
                </div>
                <!-- .row -->
            </div>
            <!-- .container -->

        </header>
        <div class="hs_page_title">
            <div class="container">
                <div class="pull-left">
                    <ul>
                        <li>
                            <a href="#">

                                <asp:Label ID="lblusername" runat="server" Text=""></asp:Label></a>
                        </li>
                    </ul>
                </div>

                <div id="LiLogout" runat="server" class="pull-right">
                    <ul>
                        <li>
                            <a runat="server" href="#">
                                <i class="fa fa-sign-out"></i>
                                <asp:LinkButton ID="lbtnLogout" runat="server" OnClick="lbtnLogout_Click">Logout</asp:LinkButton>
                            </a>
                        </li>                       
                    </ul>
                </div>
                <div  id="LiLogin" runat="server" class="pull-right">
                    <ul>
                         <li>
                            <a runat="server" href="#">
                                <i class="fa fa-sign-out"></i>
                                <asp:LinkButton ID="lbtnLogin" runat="server" OnClick="lbtnLogin_Click">Employee Login</asp:LinkButton>
                            </a>
                        </li>                        
                    </ul>
                </div>
                 <div  id="LiCLogin" runat="server" class="pull-right">
                     <ul>
                         <li>
                            <a runat="server" href="#">
                                <i class="fa fa-sign-out"></i>
                                <asp:LinkButton ID="lbtnCLogin" runat="server" OnClick="lbtnCLogin_Click">Company Login</asp:LinkButton>
                            </a>
                        </li>
                     </ul>
                 </div>
            </div>
        </div>
       

        <div class="container">
            <div class="row">
                <!--Book an Appointment start-->
                <div class="col-lg-6-new col-md-5 col-sm-12">

                    <%--       <div class="hs_appointment_form_div">--%>
                    <%-- <img src="http://placehold.it/512x345" width="512" height="387" alt="" />--%>
                    <div style="height: 100%; width: 100%">
                        <%--   <form id="form1" runat="server" class="form-inline">--%>
                        <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true" >
                        </asp:ScriptManager>
                        <asp:ContentPlaceHolder ID="LeftColumn" runat="server">
                        </asp:ContentPlaceHolder>
                        <%-- <div class="row">
                <div class="col-lg-6 col-md-7 col-sm-6">
                
                <div class="form-group">
                  <input type="text" class="form-control" id="slider_fname" name="fname" placeholder="full Name  ( required )" required>
                </div>
                <div class="form-group">
                  <input type="text" id="slider_phone" name="phone" class="form-control"  placeholder="Phone (required)" required>
                </div>
                <div class="form-group">
                  <input type="email" id="slider_email" name="email" class="form-control"  placeholder="Email (required)" required>
                </div>
                <div class="form-group">
                  <input type="date" id="slider_date" name="date" class="form-control">
                </div>
              </div>
            </div>--%>
                        <%--<div class="row">
              <div class="col-lg-3 col-md-4 col-sm-3">
                <button type="button" id="slider_book_apo" class="btn btn-default">Submit</button>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <p>Aenean facilisis sodales est nec gravida. Morbi vitae purus non est facilisis.</p>
              </div>
            </div>--%>
                        <p id="appointment_err">
                        </p>
                        <%-- </form>--%>
                    </div>
                    <%--  </div>--%>
                </div>
                <!--Book an Appointment end-->
            </div>
            <!--Up Coming Events start-->
            <%--<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h4 class="hs_heading">Up Coming Events</h4>
      <div class="up_coming_events">
        <div id="up_coming_events_slider" class="owl-carousel owl-theme">
          <div class="up_coming_events_slider_item">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="hs_event_date">
                  <h3>14</h3>
                  <p>Feb</p>
                </div>
              </div>
            </div>
            <div class="hs_event_div">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="col-lg-6 col-md-5 col-sm-6"> <img src="http://placehold.it/160x243" alt="" /> </div>
                  <div class="col-lg-6 col-md-7 col-sm-12">
                    <h4>Pelln sque vitae dolor non.</h4>
                    <p>Cras sodaleut ligula, velit enim quis, neatis feugiat ante. Ut arcu nulla.Cras velit ligula, sodaleut enim quis, venenatis feugiat ante. lus facilisis nisl. </p>
                    <a href="../blog-single-post-rightsidebar.html" class="btn btn-default pull-right">Read More</a> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="up_coming_events_slider_item">
            <div class="row">
              <div class="col-lg-12">
                <div class="hs_event_date">
                  <h3>23</h3>
                  <p>Feb</p>
                </div>
              </div>
            </div>
            <div class="hs_event_div">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="col-lg-6 col-md-5 col-sm-6"> <img src="http://placehold.it/160x243" alt="" /> </div>
                  <div class="col-lg-6 col-md-7 col-sm-12">
                    <h4>Pelln sque vitae dolor non.</h4>
                    <p>Cras sodaleut ligula, velit enim quis, neatis feugiat ante. Ut arcu nulla.Cras velit ligula, sodaleut enim quis, venenatis feugiat ante. lus facilisis nisl. </p>
                    <a href="../blog-single-post-rightsidebar.html" class="btn btn-default pull-right">Read More</a> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="up_coming_events_slider_item">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="hs_event_date">
                  <h3>24</h3>
                  <p>Feb</p>
                </div>
              </div>
            </div>
            <div class="hs_event_div">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="col-lg-6 col-md-5 col-sm-6"> <img src="http://placehold.it/160x243" alt="" /> </div>
                  <div class="col-lg-6 col-md-7 col-sm-12">
                    <h4>Pelln sque vitae dolor non.</h4>
                    <p>Cras sodaleut ligula, velit enim quis, neatis feugiat ante. Ut arcu nulla.Cras velit ligula, sodaleut enim quis, venenatis feugiat ante. lus facilisis nisl. </p>
                    <a href="../blog-single-post-rightsidebar.html" class="btn btn-default pull-right">Read More</a> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="up_coming_events_slider_item">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="hs_event_date">
                  <h3>14</h3>
                  <p>Feb</p>
                </div>
              </div>
            </div>
            <div class="hs_event_div">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="col-lg-6 col-md-5 col-sm-6"> <img src="http://placehold.it/160x243" alt="" /> </div>
                  <div class="col-lg-6 col-md-7 col-sm-12">
                    <h4>Pelln sque vitae dolor non.</h4>
                    <p>Cras sodaleut ligula, velit enim quis, neatis feugiat ante. Ut arcu nulla.Cras velit ligula, sodaleut enim quis, venenatis feugiat ante. lus facilisis nisl. </p>
                    <a href="../blog-single-post-rightsidebar.html" class="btn btn-default pull-right">Read More</a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="customNavigation text-right"> <a class="btn_prev prev"><i class="fa fa-chevron-left"></i></a> <a class="btn_next next"><i class="fa fa-chevron-right"></i></a> </div>
      </div>
    </div>
  </div>--%>
            <!--Up Coming Events end-->
            <div class="hs_margin_40">
            </div>
            <!--Our Doctor Team start-->
            <%--<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h4 class="hs_heading" id="hs_meat_doc">Our Doctor Team</h4>
      <div class="our_doctor_team">
        <div id="our_doctor_team_slider" class="owl-carousel owl-theme">
          <div class="our_doctor_team_slider_item"> <img src="http://placehold.it/300x362" alt="" />
            <div class="hs_team_member_detail">
              <h3>Dr Johnathan Treat</h3>
              <p>Quisque vitae interdum ipsum. Nulla eget mpernulla. Proin lacinia urna </p>
              <a href="../profile-single.html" class="btn btn-default">Read More</a> </div>
          </div>
          <div class="our_doctor_team_slider_item"> <img src="http://placehold.it/300x362" alt="" />
            <div class="hs_team_member_detail">
              <h3>Dr. Edwin Spindrift</h3>
              <p>Quisque vitae interdum ipsum. Nulla eget mpernulla. Proin lacinia urna </p>
              <a href="../profile-single.html" class="btn btn-default">Read More</a> </div>
          </div>
          <div class="our_doctor_team_slider_item"> <img src="http://placehold.it/300x362" alt="" />
            <div class="hs_team_member_detail">
              <h3>Dr Johnathan Treat</h3>
              <p>Quisque vitae interdum ipsum. Nulla eget mpernulla. Proin lacinia urna </p>
              <a href="../profile-single.html" class="btn btn-default">Read More</a> </div>
          </div>
          <div class="our_doctor_team_slider_item"> <img src="http://placehold.it/300x362" alt="" />
            <div class="hs_team_member_detail">
              <h3>Dr. Edwin Spindrift</h3>
              <p>Quisque vitae interdum ipsum. Nulla eget mpernulla. Proin lacinia urna </p>
              <a href="../profile-single.html" class="btn btn-default">Read More</a> </div>
          </div>
        </div>
        <div class="customNavigation text-right"> <a class="btn_prev prev"><i class="fa fa-chevron-left"></i></a> <a class="btn_next next"><i class="fa fa-chevron-right"></i></a> </div>
      </div>
    </div>
  </div>--%>
            <!--Our Doctor Team end-->
            <div class="clearfix">
            </div>
            <!--Meet Our Partners start-->
            <%--<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h4 class="hs_heading">Meet Our Partners</h4>
      <div class="our_partners">
        <div id="our_partners_slider" class="owl-carousel owl-theme">
          <div class="our_partners_slider_item"> <img src="../images/partner/partner1.png" alt="" width="142" height="40"  /> </div>
          <div class="our_partners_slider_item"> <img src="../images/partner/partner2.png" alt="" width="142" height="40"  /> </div>
          <div class="our_partners_slider_item"> <img src="../images/partner/partner3.png" alt="" width="142" height="40"  /> </div>
          <div class="our_partners_slider_item"> <img src="../images/partner/partner4.png" alt="" width="142" height="40"  /> </div>
          <div class="our_partners_slider_item"> <img src="../images/partner/partner1.png" alt="" width="142" height="40"  /> </div>
        </div>
        <div class="customNavigation text-right"> <a class="btn_prev prev"><i class="fa fa-chevron-left"></i></a> <a class="btn_next next"><i class="fa fa-chevron-right"></i></a> </div>
      </div>
    </div>
  </div>--%>
            <!--Meet Our Partners end-->
            <div class="hs_margin_60">
            </div>
        </div>

        <footer id="hs_footer">
            <div class="container">
                <div class="hs_footer_content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hs_footer_menu">
                               
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                          <%--  <div class="row">
                                <div class="hs_footer_about_us">
                                    <div class="col-lg-3 col-md-4 col-sm-12 col-md-12 col-sm-12">
                                        <h4 class="hs_heading">About Us</h4>
                                       
                                         <a><img src="../images/logo1.png"  />   
               </a>
           <a style="font-family:  Calibri;color:white; font-size:large; font-weight:bold;  text-transform:uppercase"> LetMeTalk2Me
           </a>
                                    </div>
                                    <div class="col-lg-9 col-md-8 col-sm-12 hs_about_us">
                                        <div class="hs_margin_60"></div>
                                        <p>
                                              Established in 2006 with a dedicated Team of young , diligent designers & developers
  Undertake End To End software Solutions work which includes Design and Development
  Process driven and Customer business Value focused AGILE deliveries.
                                        </p>
                                    </div>
                                   
                                </div>
                              
                            </div>--%>
                           <%-- <div class="row">
                               <div class="col-lg-4 col-md-3 col-sm-12">
                                    <h4 class="hs_heading">Contact details</h4>
                                    <div class="hs_contact_detail">
                                          <p><i class="fa fa-map-marker"></i> 12, Parisar Apartments, Dr Ketkar Road , Pune 411004, India</p>
                                        <p><i class="fa fa-phone"></i> +91-20-25453533</p>                                         
                                             <div class="clearfix"></div>
                                        <div class="hs_social">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                   
                                    <div class="clearfix"></div>                            
                              
                               
                                </div>
                            </div>--%>
                        </div>
                        <%--       <div class="col-lg-4 col-md-4 col-sm-4">
              <h4 class="hs_heading">Twitter Widget</h4>
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 hs_twitter_widget">
                      <ul>
                          <li><i class="fa fa-twitter"></i><a href="">
                              <p>
                                  @healthcare...  Suspende potenti. Etiam ullamcorper scelerisque bibendumonec cursus,  eleifend semper.
                                  <br>
                                  <br>
                                  <strong>17 hours ago</strong>
                              </p>
                          </a></li>
                          <li><i class="fa fa-twitter"></i><a href="">
                              <p>
                                  @Hsoftindia...  Suspende potenti. Etiam ullamcorper scelerisque bibendumonec cursus,  eleifend semper.
                                  <br>
                                  <br>
                                  <strong>2 min ago</strong>
                              </p>
                          </a></li>
                      </ul>
                  </div>
              </div>
          </div>--%>
                    </div>
                </div>
            </div>
            
            <div class="hs_copyright">
             Copyright © 2018 Clairvoyance Mindware Private Limited
        
                </div>
        </footer>

        <!--main js file start-->
        <script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="../js/bootstrap.js"></script>
        <script type="text/javascript" src="../js/owl.carousel.js"></script>
        <script type="text/javascript" src="../js/jquery.bxslider.js"></script>
        <script type="text/javascript" src="../js/jquery.mixitup.min.js"></script>
        <script type="text/javascript" src="../js/smoothscroll.js"></script>
        <script type="text/javascript" src="../js/single-0.1.0.js"></script>
        <script type="text/javascript" src="../js/custom.js"></script>
        <!--main js file end-->
    </form>
</body>
</html>