﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Company/Company.Master" AutoEventWireup="true" CodeBehind="ImportEmployees1.aspx.cs" Inherits="HealToZeal.Company.ImportEmployees1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="LeftColumn" runat="server">
                <div class="box-body">
           
            <div class="form-group">
               
                 <h4 class="hs_heading" id="hs_appointment_form_link">Import employee </h4>
        <div class="box box-primary">
        <div class="box-header with-border">
        </div>
    </div>
       
                <div>
                    <asp:FileUpload ID="exampleInputFile" runat="server" />
                    
                    <p class="help-block text-center"></p>
                    <asp:Button ID="btnimport" Text="Import" runat="server"  OnClick="btnimport_Click" />
                    &nbsp;
                     <asp:Label ID="Label1" runat="server" Font-Bold="true"></asp:Label>
                    <br />
                    <asp:Label ID="lbmessage" runat="server" Font-Bold="true"></asp:Label>
                 
                </div>
            </div>
        </div>

</asp:Content>
