﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin.Master" AutoEventWireup="true" CodeBehind="ViewDepartmentdeatils.aspx.cs" Inherits="HealToZeal.Admin.ViewDepartmentdeatils" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="LeftColumn" runat="server">
    
    <table>
    <tr>
        <td colspan="4"><b> Company Department</b></td>    

    </tr>
    <tr>
        <td>
                <asp:Label ID="lblCompany" runat="server" Text="Company"></asp:Label>
            </td>
            <td>
                <asp:DropDownList ID="ddlCompany" runat="server" OnSelectedIndexChanged="ddlCompany_SelectedIndexChanged" AutoPostBack="true" Width="205px" Height="30px"></asp:DropDownList>
            </td>
    </tr>
        <br />
        <br />
     <tr>
        <td></td>
        <td>
             <asp:DataList ID="DlistCompany" OnItemDataBound="DlistCompany_ItemDataBound" runat="server"  OnItemCommand="DlistCompany_ItemCommand"
                 Width="400px" GridLines="Both"> 
                        <ItemTemplate>
                            <%--<table style="width:90%">
                                <tr>
                                    <td style="width:90%">
                                 <asp:Label ID="lblCompany" Font-Bold="true" style="text-align:center" runat="server" Text='<%#Eval("CompanyName") %>'> </asp:Label>
                                    </td>
                                    <td>
                                          <asp:Label ID="lblCompanyId" runat="server" Text='<%#Eval("CompanyId_PK") %>' Visible="false"> </asp:Label>
                                    </td>                                   
                                </tr>
                            </table>--%>
                            <%--<asp:DataList ID="DlistDepartment" runat="server" RepeatColumns="0"   Width="100%" GridLines="Both">
                                <HeaderStyle />--%>
                               <%--<HeaderTemplate>
                                   <table  border="0">
                                        <tr>
                                            <td style="width:100%">Department</td>
                                           
                                        </tr>
                                    </table>
                                </HeaderTemplate>--%>
                              
                               <%-- <ItemTemplate>--%>
                                    <table id="Tb1" style="width:100%;background-color:#ebf5fb" >
                                       
                                        <tr>
                                            
                                            <td style="width:80%" >
                                                  <asp:TextBox ID="lblDepartmentname"  BackColor="#ebf5fb" runat="server" Text='<%#Eval("Departmentname") %>' BorderColor="Transparent"> </asp:TextBox>
                                            </td>
                                            <td>
                                                 <asp:Label ID="lblDeptId" runat="server" style="display:none" Text='<%#Eval("DeptId_PK") %>'> </asp:Label>
                                            </td>
                                            <td>
                                                  <asp:Label ID="lblCompanyId" style="display:none" runat="server" Text='<%#Eval("CompanyId_FK") %>' Visible="false"> </asp:Label>                                                
                                            </td>                                            
                                            <td style="width:20%">
                                                   <asp:LinkButton ID="btnUpdateDepartment" runat="server" Text="Update"  CommandName="UpdateDepartment" CommandArgument='<%#Eval("DeptId_PK") %>'/>
                                            </td>
                                            <td style="width:20%">
                                                   <asp:LinkButton ID="btnDelete" runat="server" Text="Delete" CommandName="Delete" />
                                            </td>

                                        </tr>
                                    </table>
                               <%-- </ItemTemplate>
                            </asp:DataList>--%>
                        </ItemTemplate>
                    </asp:DataList>
        </td>
        <td></td>
        <td></td>
    </tr>
     <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</asp:Content>
