﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/LetMeTalkWithMenu.Master" AutoEventWireup="true" CodeBehind="Emailverificationsuccessmessage.aspx.cs" Inherits="HealToZeal.Employee.Emailvarificationsuccessmessage1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="row">
        <div class="col-md-11 col-centered">
          <div class="boardp bdr3 mb20"> 
           <div class="row">
              <div class="col-md-12 col-sm-12" style="margin:80px 0;">
             
                 <h3 class="w600 mt8"><center>Registration successful
</center></h3>
                  <h4 class="txtwhite"><center>Please check email for activation</center></h4>
                  </div>
                
            
                  </div>
            
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
    </asp:Content>
