﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Employee/Employee.Master" AutoEventWireup="true" CodeBehind="EmployeeSummarySelf.aspx.cs" Inherits="HealToZeal.Employee.EmployeeSummarySelf" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="EmployeeColumn" runat="server">
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="hs_single_profile">
        <div class="hs_single_profile_detail">
          <h3>Dr. Neupane Commodo </h3>
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6"> <i class="fa fa-user-md"></i>Experience: <a href="">6 Year</a> </div>
            <div class="col-lg-5 col-md-6 col-sm-6"> <i class="fa fa-medkit"></i>Specialist On: <a href="">Addiction psychiatrist, Adolescent</a> </div>
            <div class="col-lg-4 col-md-6 col-sm-6"> <i class="fa fa-medkit"></i>Email ID: <a href="">health@helathcare.com</a> </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6"> <i class="fa fa-phone"></i>Phone No: <a href="">+00 00 0 000 000 00</a> </div>
            <div class="col-lg-6 col-md-6 col-sm-6"> Get connect with him:
              <div class="hs_profile_social">
                <ul>
                  <li><a href=""><i class="fa fa-facebook"></i></a></li>
                  <li><a href=""><i class="fa fa-twitter"></i></a></li>
                  <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                  <li><a href=""><i class="fa fa-skype"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p>Fusce pharetra ultrices elementum. Ut facilisis sit amet justo ut blandit. Phasellus in dolor vel metus hendrerit feugiat. Vivamus imperdiet,  velbus feugiat, est leo sagittis tortor, et commodo massa justo nec mi. Donec condimentum varius ipsum varius facilisis. Fusce in purus non massodales dicm. Curabitur in tellus non sem euismod pulvinar. Integer vitae nisi sit amet nulla placerat semper. Nam porttitor nulla id pretium ullamcorper. Itpat, magna id tempus posuere, risus ligula cursus erat, sit amet sagittis mi lacus non massa. Vestibulum libero ligula, sollicitudin sed ornare in, laoreet sed lacusCras tristique, metus eleifend malesuada eleifend, justo mi dapibus neque, sit amet fringilla elit risus quis nunc. Nullam molestie dolor pus, id ullorper massa adipiscing sit amet. Vivamus ut purus eu leo imperdiet suscipit. Integer lacus metus, ultricies eu quam vitae, vestibulum mattis ipsum. Pellentesque erat risus, congue non nisl auctor, accumsan pellentesque enim. </p>
        <p>In hac habitasse platea dictumst. Suspendisse potenti. Morbi dignissim rhoncus faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla nisi a bibendum euismod. Quisque eget elit sed erat bibendum tempus. </p>
      </div>
    </div>
  </div>
  </div>
</asp:Content>
