﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="EmployeeThanksMessage.aspx.cs" Inherits="HealToZeal.Employee.EmployeeThanksMessage" %>


        
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Health Care, health" />
    <meta name="description" content="Health Care HTML Template" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon links -->
    <link rel="shortcut icon" type="image/ico" href="../favicon.ico" />
    <link rel="icon" type="image/ico" href="../favicon.ico" />
    <!--Google web fonts-->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css' />
    <!-- main css -->
    <link rel="stylesheet" href="../css/main.css" media="screen" />
    <%--<link rel="stylesheet" id="theme-color" type="text/css" href="#"/>--%>
    <!--page title-->
    <title>HealTozeal</title>
  
</head>
<!--
**********************************************************************************************************
    Copyright (c) 2014 Himanshu Softtech.
********************************************************************************************************** -->
<body>
    <!--Pre loader start-->
    <div id="preloader">
        <div id="status">
            <img src="../images/loader.gif" id="preloader_image" width="36" height="36" alt="loading image" /></div>
    </div>
    <!--pre loader end-->
    <!-- color picker start -->
    
    <!-- color picker end -->
   <!--header start-->
    <header id="hs_header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="col-lg-2 col-md-2 col-sm-12">      

          <div id="hs_logo" >
              <%-- <a href="#"> <img src="../images/logo.png" alt="" /> </a>--%>
                <a><img src="../images/logo1.png"  />   
               </a>
           <a style="font-family:  Calibri;color:white; font-size:large; font-weight:bold;  text-transform:uppercase"> Let Me Talk2 Me
           </a>
          </div>
          <!-- #logo --> 
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
          <button type="button" class="hs_nav_toggle navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu<i class="fa fa-bars"></i></button>
       <%--   <nav>
            <ul class="hs_menu collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <li><a class="active" href="CompanyHome.aspx">Home</a></li>
              <li><a class="active" href="AddEmployee.aspx">Employee</a></li>         
              <li><a href="../profile.html">our profile</a></li>
              <li><a href="../blog-categories.html">our blog</a></li>
              <li><a href="../contact.html">Contact</a></li>
            </ul>
          </nav>--%>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4">
          <%--<div class="hs_social">
            <ul>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
              <li><a href=""><i class="fa fa-google-plus"></i></a></li>
              <li><a href="" id="hs_search"><i class="fa fa-search"></i></a></li>
            </ul>
          </div>--%>
          <div class="hs_search_box">
          
            <form class="form-inline" role="form">
              <div class="form-group has-success has-feedback">
                <input type="text" class="form-control" id="inputSuccess4" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span> </div>
            </form>
          </div>
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
        </button>
       
          <!-- #logo --> 
        </div>
      </div>
      <!-- .col-md-12 --> 
    </div>
    <!-- .row --> 
  </div>
  <!-- .container --> 
  
</header>
     <h4 ></h4>
    <form runat="server">
    <div class="container">
        <div class="row">
            <div class="alert alert-info">
                <p><strong>
                   Thank you very much for participation in this experiment! </strong>
   </p>
         <p>
            We will do our due diligence with the data we have collected and will definitely inform you about outcome of the experiments and how this experiment helped us further.
         We appreciate your continued support and best wishes to  CLAIRVOYANCE MINDWARE PRIVATE LIMITED!!
         </p>  
            <p>
            Let Me Talk To Me Team
            </p>
                <p>
                      Initiative by CLAIRVOYANCE MINDWARE PRIVATE LIMITED
                </p>
            <p>
           <strong><a href="http://www.chetanasystems.com" target="_blank">www.chetanasystems.com </a></strong>
            </p>
               
            </div>
        </div>
         <p>
                   
                          <asp:Button ID="btnNext" runat="server" class="btn btn-success pull-right btn-lg" Text="Next" OnClick="btnNext_Click" />
                                   
                </p>
        <div class="hs_margin_60"></div>
    </div>
        </form>
    <!--header end-->
    <!--slider start-->
  
    <!--layer slider ends-->
    <!--slider end-->
      <footer id="hs_footer">
  <div class="container">
    <div class="hs_footer_content">
    <%--  <div class="row">
        <div class="col-lg-12">
          <div class="hs_footer_menu">
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a href="../about.html">About</a></li>
              <li><a href="../services.html">Services</a></li>
              <li><a href="../blog-categories.html">Blog</a></li>
              <li><a href="../profile.html">Our profile</a></li>
              <li><a href="../contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>--%>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="row">
            <div class="hs_footer_about_us">
              <div class="col-lg-3 col-md-4 col-sm-12 col-md-12 col-sm-12">
             <%--   <h4 class="hs_heading">About Us</h4>--%>
              
                    <a><img src="../images/logo1.png"  />   
               </a>
           <a style="font-family:  Calibri;color:white; font-size:large; font-weight:bold;  text-transform:uppercase"> Let Me Talk2 Me
           </a>
              </div>
             <%-- <div class="col-lg-9 col-md-8 col-sm-12 hs_about_us">
                <div class="hs_margin_60"></div>
                <p>Aenean facilisis sodales est neciMorbi vitapurus on Est facilisisro convallis commodo velante, tiam ltricies lputate.Aenean facilisis sodales est neciMorbi vitapurus on Est facilisisro convallis commodo velante, tiam ltricies lputate. </p>
              </div>--%>
            </div>
          </div>
<%--          <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-12">
              <h4 class="hs_heading">Get in touch !</h4>
              <div class="hs_contact_detail">
                <p><i class="fa fa-map-marker"></i> 13/2 Elizabeth Street Melbourne VIC 3000, Australia</p>
                <p><i class="fa fa-mobile-phone"></i> +61 3 8376 6284</p>
                <div class="clearfix"></div>
                <div class="hs_social">
                  <ul>
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-9 col-sm-12">
              <h4 class="hs_heading">Useful Links</h4>
              <div class="clearfix"></div>
              <div class="hs_footer_link">
                <ul>
                  <li><a href="../services.html">Pediatric Clinic</a></li>
                  <li><a href="../services.html">Dental Clinic</a></li>
                  <li><a href="../services.html">General Surgery</a></li>
                  <li><a href="../services.html">Physiotherapy</a></li>
                  <li><a href="../services.html">Ltricies lputate</a></li>
                </ul>
              </div>
              <div class="hs_footer_link">
                <ul>
                  <li><a href="../blog-categories.html">Blog Categories</a></li>
                  <li><a href="../services-two-column.html">services Two Column</a></li>
                  <li><a href="../blog-single-post.html">Blog Single Post</a></li>
                  <li><a href="../services.html">services Three Column</a></li>
                  <li><a href="../blog-single-post-leftsidebar.html">Blog Leftsidebar</a></li>
                </ul>
              </div>
              <div class="hs_footer_link">
                <ul>
                  <li><a href="../blog-single-post-rightsidebar.html">Blog Rightsidebar</a></li>
                  <li><a href="../typography.html">Typography</a></li>
                  <li><a href="../elements.html">Elements</a></li>
                  <li><a href="../columns.html">columns</a></li>
                  <li><a href="../icon.html">icon</a></li>
                </ul>
              </div>
            </div>
          </div>--%>
        </div>
   <%--     <div class="col-lg-4 col-md-4 col-sm-4">
          <h4 class="hs_heading">Twitter Widget</h4>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 hs_twitter_widget">
              <ul>
                <li> <i class="fa fa-twitter"></i> <a href="">
                  <p>@healthcare...  Suspende potenti. Etiam ullamcorper scelerisque bibendumonec cursus,  eleifend semper. <br>
                    <br>
                    <strong>17 hours ago</strong> </p>
                  </a> </li>
                <li> <i class="fa fa-twitter"></i> <a href="">
                  <p>@Hsoftindia...  Suspende potenti. Etiam ullamcorper scelerisque bibendumonec cursus,  eleifend semper. <br>
                    <br>
                    <strong>2 min ago</strong> </p>
                  </a> </li>
              </ul>
            </div>
          </div>
        </div>--%>
      </div>
    </div>
  </div>
</footer>
    <div class="hs_copyright">
       Copyright © 2018  CLAIRVOYANCE MINDWARE PRIVATE LIMITED
    </div>
  
    <!--main js file start-->
    <script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/owl.carousel.js"></script>
    <script type="text/javascript" src="../js/jquery.bxslider.js"></script>
    <script type="text/javascript" src="../js/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="../js/smoothscroll.js"></script>
    <script type="text/javascript" src="../js/single-0.1.0.js"></script>
    <script type="text/javascript" src="../js/custom.js"></script>
    <!--main js file end-->
</body>
</html>
