﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Employee/Employee.Master" AutoEventWireup="true" CodeBehind="EmpRegistrationForm_ActivationOld.aspx.cs" Inherits="HealToZeal.Employee.EmpRegistrationForm_Activation" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="EmployeeColumn" runat="server">
    <h1><asp:Literal ID="ltMessage" runat="server" /></h1>
        <h2><asp:Literal ID="ltpayment" runat="server"/></h2>
    <h2>Thank you for your Email Activation </h2>
   
</asp:Content>
