﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/LetMeTalkWithMenu.Master" AutoEventWireup="true" CodeBehind="Nextsteps.aspx.cs" Inherits="HealToZeal.Employee.Nextsteps" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="row">
        <div class="col-md-11 col-centered">
          <div class="boardp bdr3 mb20"> 
           <div class="row">
              <div class="col-md-6 col-sm-6 col-centered" style="padding:50px 0;">
            
                 <h1 class="w600 mt8" style="font-size:45px;"><center>
                  <img src="../UIFolder/dist/img/img1.png" class="img-responsive mb20" width="250" height="100"> 
                 <div style="clear:both;"></div>
                 <span>COMING UP SOON</span>
</center></h1>

                  </div>
                
            
                  </div>
            
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
</asp:Content>
