﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Employee/Employee.Master" AutoEventWireup="true" CodeBehind="oauth-redirect.aspx.cs" Inherits="HealToZeal.Employee.oauth_redirect" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="EmployeeColumn" runat="server">
   <div class="container">
    <div class="row">
    <table>  
                    <tr>  
                        <td>  
                            <asp:Image ID="imgprofile" runat="server" Height="100px" Width="100px" /> </td>  
                    </tr>  
                    <tr>  
                        <td> Id </td>  
                        <td>  
                            <asp:Label ID="lblid" runat="server" Text=""></asp:Label>  
                        </td>  
                    </tr>  
                    <tr>  
                        <td> Name </td>  
                        <td>  
                            <asp:Label ID="lblname" runat="server" Text=""></asp:Label>  
                        </td>  
                    </tr>  
                    <tr>  
                        <td> Gender </td>  
                        <td>  
                            <asp:Label ID="lblgender" runat="server" Text=""></asp:Label>  
                        </td>  
                    </tr>  
                    <tr>  
                        <td> locale </td>  
                        <td>  
                            <asp:Label ID="lbllocale" runat="server" Text=""></asp:Label>  
                        </td>  
                    </tr>  
                    <tr>  
                        <td> link </td>  
                        <td>  
                            <asp:HyperLink ID="hylprofile" runat="server">Profile link</asp:HyperLink>  
                        </td>  
                    </tr>  
                </table>  
        </div>
       </div>
</asp:Content>
