﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Employee/Employee.Master" AutoEventWireup="true" CodeBehind="PaymentGatewayold.aspx.cs" Inherits="HealToZeal.Employee.PaymentGateway" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .center {
            margin: auto;
            width: 50%;
            border: 3px solid groove;
            padding: 10px;
    }

    </style>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="EmployeeColumn" runat="server">
         <br />
    <br /> <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                </div>
                <div class="col-md-6" style="border-color:#CCCCCC;border-width:1px;border-style:solid;">
                    <h4>Email verified Successfully</h4>

                    <p><b>Please proceed to pay the below Amount to get the Assessment passcode</b></p>

                    <div class="col-md-6">
                            <label><b>First Name:</b></label>
                        <asp:Label ID="lblFirstname" runat="server" Text="First Name"></asp:Label>
                       
                    </div>
                    <div class="col-md-6">
                         <label><b>Last Name:</b></label>
                        <asp:Label ID="lblLastname" runat="server" Text="Last Name"></asp:Label>
                        
                    </div>

                    <div class="col-md-6">
                         <label><b>Name Of Coupon:</b></label>
                        <asp:Label ID="lblname" runat="server" Text="Name Of Coupon"></asp:Label>
                        
                    </div>
                    <div class="col-md-6">
                     <label><b>Amount:</b></label>
                        <asp:Label ID="lblprice" runat="server" Text="Amount to be payable is"></asp:Label>
                    </div>

                    <div class="col-md-6">
                      <label><b>Percentage:</b></label>
                        <asp:Label ID="lblpercentage" runat="server" Text="Percentage"></asp:Label>
                    </div>
                    <div class="col-md-6">
                        <label><b>Email ID:</b></label>
                        <asp:Label ID="lblEmailid" runat="server" Text="Email ID"></asp:Label>
                    </div>
                    <div class="col-md-6">
                        <asp:Button ID="paymentgateway" runat="server" Text="Payment Gateway" CssClass="btn btn-info" OnClick="paymentgateway_Click" />

                    </div>
                </div>

                <div class="col-md-3">
                </div>
            </div>

        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    
</asp:Content>
