﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Employee/Employee.Master" AutoEventWireup="true" CodeBehind="Services.aspx.cs" Inherits="HealToZeal.Employee.Services" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="EmployeeColumn" runat="server">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hs_contact_head_text">
                    <h4 class="hs_contact_heading">Page is under construction</h4>                 
                </div>
            </div>
        </div>
    </div>
</asp:Content>
