﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Employee/Employee.Master" AutoEventWireup="true" CodeBehind="testold.aspx.cs" Inherits="HealToZeal.Employee.test" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="EmployeeColumn" runat="server">
     <b> <asp:Button ID="btnclick" runat="server" Text="test" OnClick="btnclick_Click"  /></b>
      </asp:Content>