﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/LetMeTalk.Master" AutoEventWireup="true" CodeBehind="test.aspx.cs" Inherits="HealToZeal.Employee.test2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    


      <div class="row">
      <div class="col-md-12 col-centered">
        <div class="nav-tabs-custom">
          
          <div class="tab-content">
            <div style="padding-top:10px;">
              <div class="col-md-12">
                  <div class="col-md-12 bdr3" style="padding-top:10px;">
                      <div class="row col-centered">
                    <asp:Button ID="btnclick" runat="server" Text="test" OnClick="btnclick_Click"  />
                </div>
                  </div>
                  <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

</asp:Content>
