﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WarningMessage.aspx.cs" Inherits="HealToZeal.Employee.WarningMessage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
       <div class="divshortProfClass" style="width:90%; font-family:Georgia; color:#333300; line-height:1.5; text-align:justify ;margin-left:20px" >
         <p>
      Please select the answer!
         </p>      
         
    </div>
    </form>
</body>
</html>
