﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CompanyHome.aspx.cs" MasterPageFile="~/Company/Company.Master" Inherits="HealToZeal.Company.CompanyDashBoard" %>

<asp:Content ID="Content2" ContentPlaceHolderID="LeftColumn" runat="Server">

</asp:Content>
